<% c++ #include "app/views/home.hpp" %>
<% skin bootstrap_skin %>
<% view home uses app::views::Home extends layouts_home %>
<% template layouts_home_content() %>

<% end template %>
<% end view %>
<% end skin %>
