<% c++ #include "app/views/article.hpp" %>
<% skin bootstrap_skin %>
<% view article_read uses app::views::Article extends layouts_home %>
<% template layouts_home_content() %>
<% end template %>
<% end view %>
<% end skin %>
