{
  "presets":[
    [
      "env", {
        "modules": false,
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        }
      }
    ],
    ["es2017"]
  ],
  "plugins": [
    [
      "transform-react-jsx", {
        "pragma": "h"
      }
    ],
    [
      "transform-es2015-arrow-functions"
    ],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    [
      "wildcard"
    ]
  ]
}

