{
  "presets":[
    [
      "env", {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx", {
        "pragma": "h"
      }
    ],
    [
      "wildcard"
    ],
    [
      "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}

