body
{
  margin: 0;
  padding: 0;
}
.loginMain
{
  background-color: #0a0a0a;
  cursor: text;
  height: 100%;
  min-height: 100vh;
  color: #FFF;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}

.cmdInput
{
  display: inline-block;
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.cmdInputShow
{

}

.cmdInputCursor {
  display: inline-block;
  background: #FFF;
  margin-left: 1px;

  -webkit-animation: blink 1s linear 0s infinite;
  -moz-animation: blink 1s linear 0s infinite;
  -ms-animation: blink 1s linear 0s infinite;
  -o-animation: blink 1s linear 0s infinite;
}

@-webkit-keyframes blink {
  50%  { background: #000 }
  100% { background: #FFF }
}

@-moz-keyframes blink {
  50%  { background: #000 }
  100% { background: #FFF }
}

@-ms-keyframes blink {
  50%  { background: #000 }
  100% { background: #FFF }
}

@-o-keyframes blink {
  50%  { background: #000 }
  100% { background: #FFF }
}

