body
{
  margin: 0;
  padding: 0;
}
.loginMain
{
  background-color: #000;
  cursor: text;
  height: 100vh;
  color: #FFF;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 14px;
}

.cmdInput
{
  display: inline-block;
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
  padding: 0;
}
